*,
*:after,
*:before {
	box-sizing: border-box;
	border: 0 solid black;
}

html {
	// background: @body-background;
	// color: @text-color;
  font-family: @font-family;
}
html,
body {
  height: 100%;
}
