.button {
  // reset
  -webkit-appearance: none;
  user-select: none;
  cursor: pointer;
  margin: 0;
  display: inline-block;

  &:not(:disabled):not(.disabled):active {
    background-image: none;
  }

  // all buttons
  border: @ui-border-width solid;
  border-radius: @ui-border-radius;
  text-align: center;
  font-size: @ui-font-size;
  height: @ui-height;
  line-height: @ui-height;
  transition: all @ui-transition-duration ease-in-out;
  padding: 0 1.5rem;

  &:focus {
    outline: 0 none;
  }

  // default style
  .solid-button-theme;
  @foreground: @dark-gray;
  @background: @lightest-gray;
  @hover-foreground: @foreground;
  @hover-background: darken(@background, 4);
}

// Themed buttons
// Modify, add, and remove as you see fit
.ghost-button {
  .ghost-button-theme;
  @foreground: @dark-gray;
  @background: fade(@foreground, 4%);
  @hover-foreground: lighten(@foreground, 4);
  @hover-background: fade(@foreground, 8%);
}

.green-button {
  .solid-button-theme;
  @foreground: white;
  @background: @green;
  @hover-foreground: @foreground;
  @hover-background: darken(@background, 4);
}

.green-ghost-button {
  .ghost-button-theme;
  @foreground: darken(@green, 4);
  @background: fade(@foreground, 4%);
  @hover-foreground: lighten(@foreground, 4);
  @hover-background: fade(@foreground, 8%);
}

// mixins
.solid-button-theme() {
  &:extend(.button all);
  color: @foreground;
  background-color: @background;
  border-color: @background;

  &:hover {
    color: @hover-foreground;
    background-color: @hover-background;
    border-color: @hover-background;
  }
  &:focus {
    box-shadow: 0 0 0 1px white,
                0 0 0 @unit fade(@blue, 50%);
  }
}

.ghost-button-theme() {
  &:extend(.button all);
  color: @foreground;
  background-color: @background;
  border-color: @foreground;

  &:hover {
    color: @hover-foreground;
    background-color: @hover-background;
    border-color: @hover-foreground;
  }
  &:focus {
    box-shadow: 0 0 0 @unit fade(@blue, 50%);
  }
}
