@green: #15CD72;

.solid-button-theme() {
  &:extend(.button);
  color: @foreground;
  background-color: @background;
  border-color: @background;

  &:hover {
    background-color: @hover-background;
    border-color: @hover-background;
  }
  &:focus {
    box-shadow: 0 0 0 @unit fade(@background, 20%);
  }
}

.ghost-button-theme() {
  &:extend(.button);
  color: @foreground;
  background-color: @background;
  border-color: @foreground;

  &:hover {
    background-color: @hover-background;
    border-color: @hover-foreground;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem fade(@foreground, 20%);
  }
}

.button {
  // reset
  -webkit-appearance: none;
  user-select: none;
  cursor: pointer;
  margin: 0;
  display: inline-block;

  &:not(:disabled):not(.disabled):active {
    background-image: none;
  }


  // all buttons
  border: 1px solid;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  transition: all .2s ease-in-out;
  font-size: .9rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.6rem;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 2px 2px #0069ff;
  }

  // default style
  .solid-button-theme;
  @foreground: #777;
  @background: #eee;
  @hover-foreground: @foreground;
  @hover-background: darken(@background, 4);
}

// Themed buttons
// Modify, add, and remove as you see fit
.ghost-button {
  .ghost-button-theme;
  @foreground: #777;
  @background: fade(@foreground, 4%);
  @hover-foreground: lighten(@foreground, 4);
  @hover-background: fade(@foreground, 8%);
}

.green-button {
  .solid-button-theme;
  @foreground: white;
  @background: @green;
  @hover-foreground: @foreground;
  @hover-background: darken(@background, 4);
}

.green-ghost-button {
  .ghost-button-theme;
  @foreground: darken(@green, 4);
  @background: fade(@foreground, 4%);
  @hover-foreground: lighten(@foreground, 4);
  @hover-background: fade(@foreground, 8%);
}
